:host {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  z-index: var(--header-bar-z-index);
  height: var(--header-height);
  width: 100%;
  top: 0;
  padding: 0 0.5rem;
  background: transparent;
  align-items: center;
  justify-content: space-between;

  * {
    transition: all 0.2s ease-out;
  }

  .logo {
    width: 100px;
    cursor: pointer;
  }

  .user {
    background-color: var(--header-background);
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .avatar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
    }

    img {
      width: 40px;
      border-radius: 50%;
    }

    .wallet {
      text-align: center;

      .wallet-name {
        text-align: center;
        text-transform: capitalize;
        font-size: 0.7rem;
      }
    }
  }

  &.solid {
    background: var(--header-background);
    border-bottom: var(--header-border);
  }
}
