<!-- TODO: Ideally add a version for dark more (dark city with stars on the sky) -->
<div class="night">
  <img
    class="background"
    src="assets/stars.jpeg"
    [ngStyle]="{ 'margin-top': parallaxModifiers.sky }"
  />
  <img
    src="assets/logo.webp"
    class="logo"
    [ngStyle]="{ 'margin-top': parallaxModifiers.logo }"
  />
  <img
    class="landscape"
    src="assets/CS-GO-Dust-2-night.png"
    [ngStyle]="{ 'margin-top': parallaxModifiers.landscape }"
  />
  <img
    class="awp"
    src="assets/awp-night.png"
    [ngStyle]="{ 'margin-top': parallaxModifiers.gun }"
  />
</div>
<div class="day">
  <img
    class="background"
    src="assets/sky.jpeg"
    [ngStyle]="{ 'margin-top': parallaxModifiers.sky }"
  />
  <img
    src="assets/logo.webp"
    class="logo"
    [ngStyle]="{ 'margin-top': parallaxModifiers.logo }"
  />
  <img
    class="landscape"
    src="assets/CS-GO-Dust-2.png"
    [ngStyle]="{ 'margin-top': parallaxModifiers.landscape }"
  />
  <img
    class="awp"
    src="assets/awp.png"
    [ngStyle]="{ 'margin-top': parallaxModifiers.gun }"
  />
</div>
