@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&family=Press+Start+2P&display=swap");

:root {
  --background-color: #fff;
  --background-color-rgb: 255, 255, 255;

  --primary-color: #00c74d;

  --font-family: "Poppins", sans-serif;
  --font-weight: lighter;

  --title-font-family: "Press Start 2P", cursive;
  --title-color: var(--primary-color);

  --color: #000;
  --color-rgb: 0, 0, 0;

  --color-btn-primary-bg: var(--primary-color);
  --color-btn-primary-color: #fff;
  --border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #262a30;
    --background-color-rgb: 38, 42, 48;

    --color: #ffffff;
    --color-rgb: 255, 255, 255;
  }
}
