:root {
  --background-color: #fff;
  --background-color-rgb: 255, 255, 255;

  --font-family: "Poppins", sans-serif;
  --font-weight: lighter;

  --color: #000;
  --color-rgb: 0, 0, 0;

  --color-btn-primary-bg: #238636;
  --color-btn-primary-color: #fff;
  --border-radius: 2px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #262a30;
    --background-color-rgb: 38, 42, 48;

    --color: #ffffff;
    --color-rgb: 255, 255, 255;
  }
}
