:host {
  display: block;
}

h1 {
  position: relative;
  z-index: 2;
  font-size: 3rem;
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
