/* You can add global styles to this file, and also import other style files */
@import "./styles/main.scss";

body {
  background-color: var(--background-color);
  color: var(--color);
  padding: 0;
  margin: 0;
}

* {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: var(--title-font-family);
  color: var(--title-color);
}

.section-header {
  text-align: center;
}

.btn-primary {
  background-color: var(--color-btn-primary-bg);
  color: var(--color-btn-primary-color);
  border: 0;
  border-radius: var(--border-radius);
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;

  &.lg {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
  }
}
